# Assignment 4 : Loan Payment

### by SasiNakchatree

## Installing Package

In [1]:
import pandas as pd
import numpy as np
from sklearn import ensemble
from sklearn.externals import joblib
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [2]:
# Download data 
data=pd.read_csv("C:/Users/White/OneDrive/Desktop/loan.csv")

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,5550,5550,5550.0,36 months,15.02,192.45,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,2000,2000,2000.0,36 months,17.97,72.28,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,6000,6000,6000.0,36 months,13.56,203.79,C,C1,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,6000,6000,6000.0,36 months,14.47,206.44,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.dtypes.value_counts()

float64    105
object      36
int64        4
dtype: int64

In [5]:
adj_data = data.drop(["id","member_id","sub_grade", "emp_title","disbursement_method"
                       ,"home_ownership","verification_status","verification_status_joint","issue_d"
                       ,"pymnt_plan","url","desc","purpose","title","zip_code","addr_state","earliest_cr_line"
                       ,"settlement_date","payment_plan_start_date","hardship_end_date","hardship_start_date"
                       ,"debt_settlement_flag_date","last_pymnt_d","next_pymnt_d","last_credit_pull_d"
                       ,"sec_app_earliest_cr_line"],1)

In [6]:
adj_data.dtypes.value_counts()

float64    102
object      13
int64        4
dtype: int64

In [7]:
adj_data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,annual_inc,loan_status,...,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,settlement_status,settlement_amount,settlement_percentage,settlement_term
0,2500,2500,2500.0,36 months,13.56,84.92,C,10+ years,55000.0,Current,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN
1,30000,30000,30000.0,60 months,18.94,777.23,D,10+ years,90000.0,Current,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN
2,5000,5000,5000.0,36 months,17.97,180.69,D,6 years,59280.0,Current,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN
3,4000,4000,4000.0,36 months,18.94,146.51,D,10+ years,92000.0,Current,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN
4,30000,30000,30000.0,60 months,16.14,731.78,C,10+ years,57250.0,Current,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN

## Cleaning data

### Imputing negative and positive relationship

In [8]:
negative = ["all_util","annual_inc","annual_inc_joint","avg_cur_bal","bc_util",
            "hardship_last_payment_amount","il_util","inq_fi","last_pymnt_amnt",
            "mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op",
            "mo_sin_rcnt_tl","mths_since_last_delinq","mths_since_last_major_derog",
            "mths_since_last_record","mths_since_recent_bc_dlq","mths_since_recent_revol_delinq",
            "mths_since_recent_bc","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats",
            "num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0",
            "num_sats","open_acc","open_acc_6m","open_rv_12m","open_rv_24m","pct_tl_nvr_dlq",
            "revol_bal_joint","revol_util","sec_app_open_acc","sec_app_revol_util",
            "sec_app_open_act_il","sec_app_num_rev_accts","sec_app_mths_since_last_major_derog",
            "total_acc","tot_cur_bal","total_bal_il","total_cu_tl"]

positive = ["acc_now_delinq","acc_open_past_24mths","bc_open_to_buy","chargeoff_within_12_mths",
            "collections_12_mths_ex_med","delinq_amnt","deferral_term","delinq_2yrs","dti",
            "dti_joint","funded_amnt_inv","hardship_amount","hardship_length","hardship_dpd",
            "hardship_payoff_balance_amount","inq_last_6mths","inq_last_12m","mths_since_rcnt_il",
            "max_bal_bc","mort_acc","mths_since_recent_inq","num_accts_ever_120_pd","num_tl_120dpd_2m",
            "num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","orig_projected_additional_accrued_interest",
            "open_act_il","open_il_12m","open_il_24m","percent_bc_gt_75","pub_rec_bankruptcies","pub_rec",
            "sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_chargeoff_within_12_mths",
            "sec_app_collections_12_mths_ex_med","settlement_amount","settlement_percentage","settlement_term",
            "tax_liens","total_bal_ex_mort","tot_hi_cred_lim","total_bc_limit","total_il_high_credit_limit",
            "total_rev_hi_lim","tot_coll_amt","total_rec_prncp","total_rec_late_fee"]

In [9]:
for i in negative:
    adj_data[i].fillna(-100000000,inplace=True)
    
for i in positive:
    adj_data[i].fillna(100000000,inplace=True)

### Ranking and relative values

In [10]:
adj_data["term"].replace(" 36 months",3, inplace = True)
adj_data["term"].replace(" 60 months",5, inplace = True)

In [11]:
adj_data["emp_length"].replace("n/a",0, inplace = True)
adj_data["emp_length"].replace("< 1 year",0, inplace = True)
adj_data["emp_length"].replace("1 year",1, inplace = True)
adj_data["emp_length"].replace("2 years",2, inplace = True)
adj_data["emp_length"].replace("3 years",3, inplace = True)
adj_data["emp_length"].replace("4 years",4, inplace = True)
adj_data["emp_length"].replace("5 years",5, inplace = True)
adj_data["emp_length"].replace("6 years",6, inplace = True)
adj_data["emp_length"].replace("7 years",7, inplace = True)
adj_data["emp_length"].replace("8 years",8, inplace = True)
adj_data["emp_length"].replace("9 years",9, inplace = True)
adj_data["emp_length"].replace("10+ years",10, inplace = True)

In [12]:
adj_data["loan_status"].replace("Current",0, inplace = True)
adj_data["loan_status"].replace("Fully Paid",0, inplace = True)
adj_data["loan_status"].replace("Default",1, inplace = True)
adj_data["loan_status"].replace("Charged Off",1, inplace = True)
adj_data["loan_status"].replace("In Grace Period",1, inplace = True)
adj_data["loan_status"].replace("Late (16-30 days)",1, inplace = True)
adj_data["loan_status"].replace("Late (31-120 days)",1, inplace = True)
adj_data["loan_status"].replace("Does not meet the credit policy. Status:Fully Paid",1, inplace = True)
adj_data["loan_status"].replace("Does not meet the credit policy. Status:Charged Off",1, inplace = True)

In [13]:
adj_data["grade"].replace("A",1, inplace = True)
adj_data["grade"].replace("B",2, inplace = True)
adj_data["grade"].replace("C",3, inplace = True)
adj_data["grade"].replace("D",4, inplace = True)
adj_data["grade"].replace("E",5, inplace = True)
adj_data["grade"].replace("F",6, inplace = True)
adj_data["grade"].replace("G",7, inplace = True)

In [14]:
adj_data["hardship_type"].replace("nan",0, inplace = True)
adj_data["hardship_type"].replace("INTEREST ONLY-3 MONTHS DEFERRAL",1, inplace = True)

In [15]:
adj_data["hardship_status"].replace("ACTIVE",1, inplace = True)
adj_data["hardship_status"].replace("COMPLETED",1, inplace = True)
adj_data["hardship_status"].replace("BROKEN",1, inplace = True)
adj_data["hardship_status"].replace("nan",0, inplace = True)

In [16]:
adj_data["hardship_reason"].replace("UNEMPLOYMENT",1, inplace = True)
adj_data["hardship_reason"].replace("NATURAL_DISASTER",1, inplace = True)
adj_data["hardship_reason"].replace("EXCESSIVE_OBLIGATIONS",1, inplace = True)
adj_data["hardship_reason"].replace("MEDICAL",1, inplace = True)
adj_data["hardship_reason"].replace("INCOME_CURTAILMENT",1, inplace = True)
adj_data["hardship_reason"].replace("DISABILITY",1, inplace = True)
adj_data["hardship_reason"].replace("REDUCED_HOURS",1, inplace = True)
adj_data["hardship_reason"].replace("FAMILY_DEATH",1, inplace = True)
adj_data["hardship_reason"].replace("'DIVORCE",1, inplace = True)
adj_data["hardship_reason"].replace("NaN",0, inplace = True)

In [17]:
adj_data["hardship_loan_status"].replace("nan",0,inplace = True)
adj_data["hardship_loan_status"].replace("Current",1,inplace = True)
adj_data["hardship_loan_status"].replace("Issued",1,inplace = True)
adj_data["hardship_loan_status"].replace("In Grace Period",1,inplace = True)
adj_data["hardship_loan_status"].replace("Late (16-30 days)",1,inplace = True)
adj_data["hardship_loan_status"].replace("Late (31-120 days)",1,inplace = True)

In [18]:
adj_data["settlement_status"].replace("ACTIVE",1, inplace = True)
adj_data["settlement_status"].replace("COMPLETED",1, inplace = True)
adj_data["settlement_status"].replace("BROKEN",0, inplace = True)
adj_data["settlement_status"].replace("CANCELLED",0, inplace = True)
adj_data["settlement_status"].replace("DENIED",0, inplace = True)
adj_data["settlement_status"].replace("DRAFT",0, inplace = True)
adj_data["settlement_status"].replace("NaN",0, inplace = True)

In [19]:
adj_data["debt_settlement_flag"].replace("Y",1, inplace = True)
adj_data["debt_settlement_flag"].replace("N",0, inplace = True)

### Clear NaN values

In [20]:
adj_data["emp_length"].fillna(-100000000,inplace=True)
adj_data["hardship_type"].fillna(0,inplace=True)
adj_data["hardship_reason"].fillna(0,inplace=True)
adj_data["hardship_status"].fillna(0,inplace=True)
adj_data["hardship_loan_status"].fillna(0,inplace=True)
adj_data["settlement_status"].fillna(0,inplace=True)

### Using Dummies for 'object' data

In [21]:
adj_data.select_dtypes('object')

,initial_list_status,application_type,hardship_flag,hardship_reason,settlement_status
0,w,Individual,N,0,0
1,w,Individual,N,0,0
2,w,Individual,N,0,0
3,w,Individual,N,0,0
4,w,Individual,N,0,0
5,w,Individual,N,0,0
6,w,Individual,N,0,0
7,w,Individual,N,0,0
8,w,Individual,N,0,0
9,w,Individual,N,0,0
10,w,Individual,N,0,0
11,w,Individual,N,0,0
12,w,Individual,N,0,0
13,w,Individual,N,0,0
14,w,Individual,N,0,0
15,w,Joint App,N,0,0
16,w,Individual,N,0,0
17,w,Joint App,N,0,0
18,w,Individual,N,0,0
19,w,Individual,N,0,0
20,w,Individual,N,0,0
21,w,Individual,N,0,0
22,f,Individual,N,0,0
23,w,Joint App,N,0,0
24,w,Individual,N,0,0
25,f,Joint App,N,0,0
26,w,Individual,N,0,0
27,w,Individual,N,0,0
28,w,Individual,N,0,0
29,w,Individual,N,0,0
...,...,...,...,...,...
2260638,f,Individual,N,0,0
2260639,f,Individual,N,0,0
2260640,w,Individual,N,0,0
2260641,f,Individual,N,0,0
2260642,f,Individual,N,0,0
2260643,w,Individual,N,0,0
2260644,f,Individual,N,0,0
2260645,w,Individual,N,0,0
2260646,f,Joint App,N,0,0
2260647,f,Individual,N,0,0
2260648,f,Joint App,N,0,0
2260649,w,Joint App,N,0,0
2260650,f,Individual,N,0,0
2260651,f,Joint App,N,0,0
2260652,f,Individual,N,0,0
2260653,w,Individual,N,0,0
2260654,f,Individual,N,0,0
2260655,w,Individual,N,0,0
2260656,f,Individual,N,0,0
2260657,w,Joint App,N,0,0
2260658,w,Individual,N,0,0
2260659,w,Individual,N,0,0
2260660,w,Individual,N,0,0
2260661,f,Individual,N,0,0
2260662,f,Individual,N,0,0
2260663,w,Individual,N,0,0
2260664,w,Joint App,N,0,0
2260665,w,Individual,N,0,0
2260666,w,Individual,N,0,0
2260667,w,Individual,N,0,0

In [22]:
obj = ["initial_list_status","application_type","hardship_flag","hardship_reason","settlement_status"]
dummies = pd.get_dummies(adj_data[obj], drop_first = True)

In [23]:
adj_data = pd.concat([adj_data,dummies],axis=1)
adj_data = adj_data.drop(obj,axis=1)

## Using GBM model

In [24]:
#Set parameter
model_data = adj_data

y = model_data["loan_status"] 
x = model_data.drop("loan_status",axis= 1)

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

### Important Features

In [26]:
# 13 first important features
Imp_feats = ["funded_amnt","total_rec_prncp","open_il_12m","last_pymnt_amnt",
            "grade","total_rec_late_fee","debt_settlement_flag",
            "settlement_amount","installment","open_il_24m",
            "settlement_term","inq_last_12m","loan_amnt"]

### Find the Best result

In [27]:
# Set new train and test
xx_train = x_train[Imp_feats]
xx_test = x_test[Imp_feats]

## Logistic Model

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
#Set train and test in value
xx_train = xx_train.values
xx_test = xx_test.values
yy_train = y_train.values
yy_test = y_test.values

In [98]:
logis = LogisticRegression()
logis.fit(xx_train, yy_train)
yy_pred = logis.predict(xx_test)
logis.score(xx_test, yy_test)

D:\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8813825104946763

In [99]:
roc_auc_score(yy_test, yy_pred)

0.5519453683573484

In [100]:
import pickle
filename = 'LogisticR model.sav'
pickle.dump(logis, open(filename, 'wb'))

In [101]:
result2 = pd.DataFrame()
result2['loan_status']= yy_test
result2['No Delinquency'] = logis.predict_proba(xx_test)[:, 0]
result2['Delinquency'] = logis.predict_proba(xx_test)[:, 1]
result2['loan_amnt'] = adj_data['loan_amnt'] 
result2['term'] = adj_data['term']
result2.head(10)

   loan_status  No Delinquency  Delinquency  loan_amnt  term
0            0        0.834036     0.165964       2500     3
1            0        0.907928     0.092072      30000     5
2            0        0.906414     0.093586       5000     3
3            0        0.890861     0.109139       4000     3
4            0        0.896808     0.103192      30000     5
5            0        0.904238     0.095762       5550     3
6            0        0.843184     0.156816       2000     3
7            0        0.913240     0.086760       6000     3
8            0        0.830643     0.169357       5000     3
9            0        0.896408     0.103592       6000     3

In [102]:
g11 = result2.loc[result2.Delinquency < 0.1, :]
g22 = result2.loc[(result2.Delinquency> 0.1) & (result2.Delinquency< 0.2), :]
g33 = result2.loc[(result2.Delinquency> 0.2) & (result2.Delinquency< 0.3), :]
g44 = result2.loc[(result2.Delinquency> 0.3) & (result2.Delinquency< 0.4), :]
g55 = result2.loc[(result2.Delinquency> 0.4) & (result2.Delinquency< 0.5), :]
g66 = result2.loc[(result2.Delinquency> 0.5) & (result2.Delinquency< 0.6), :]
g77 = result2.loc[(result2.Delinquency> 0.6) & (result2.Delinquency< 0.7), :]
g88 = result2.loc[(result2.Delinquency> 0.7) & (result2.Delinquency< 0.8), :]
g99 = result2.loc[(result2.Delinquency> 0.8) & (result2.Delinquency< 0.9), :]
g100 = result2.loc[result2.Delinquency > 0.9, :]

In [103]:
br11 = (g11.loan_status == 1).sum()/len(g11)
br22 = (g22.loan_status == 1).sum()/len(g22)
br33 = (g33.loan_status == 1).sum()/len(g33)
br44 = (g44.loan_status == 1).sum()/len(g44)
br55 = (g55.loan_status == 1).sum()/len(g55)
br66 = (g66.loan_status == 1).sum()/len(g66)
br77 = (g77.loan_status == 1).sum()/len(g77)
br88 = (g88.loan_status == 1).sum()/len(g88)
br99 = (g99.loan_status == 1).sum()/len(g99)
br100 = (g100.loan_status == 1).sum()/len(g100)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  after removing the cwd from sys.path.
D:\anaconda\lib\site-packages\ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in longlong_scalars
  if __name__ == '__main__':
D:\anaconda\lib\site-packages\ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in longlong_scalars
  # Remove the CWD from sys.path while we load stuff.

In [107]:
bad_rate2 = pd.DataFrame({"G1":[br11], 
                         "G2":[br22],
                         "G3":[br33],
                         "G4":[br44], 
                         "G5":[br55],
                         "G6":[br66],
                         "G7":[br77], 
                         "G8":[br88],
                         "G9":[br99],
                         "G10":[br100]})
bad_rate2

         G1       G2   G3  G4        G5        G6        G7   G8  G9  G10
0  0.082706  0.14801  1.0 NaN  0.997717  0.998562  0.999562  1.0 NaN  NaN

In [109]:
for i in bad_rate2.columns:
    rf = 0.02
    E_payoff = 1+rf
    r = (E_payoff/(1-bad_rate2.loc[0,i]))-1
    bad_rate2.loc[1,i] = r
    
bad_rate2.rename(index={0: "logis_bad_rate", 1: "interest_rate"}, inplace=True)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in double_scalars
  after removing the cwd from sys.path.

In [114]:
number = len(g22)
for i in range(number):
    r = bad_rate2.iloc[1,1]
    pv = g22.iloc[i,3]
    n = g22.iloc[i,4]
    pmt = loan_payment(r,pv,n)
    g22.iloc[i,5] = pmt

In [115]:
g22.rename(columns ={5: "loan_payment"},inplace= True)

In [116]:
g22.head(10)

    loan_status  No Delinquency  Delinquency  loan_amnt  term  loan_payment
0           0.0        0.834036     0.165964     2500.0   3.0   1181.607414
3           0.0        0.890861     0.109139     4000.0   3.0   1890.571862
4           0.0        0.896808     0.103192    30000.0   5.0   9969.589315
6           0.0        0.843184     0.156816     2000.0   3.0    945.285931
8           0.0        0.830643     0.169357     5000.0   3.0   2363.214827
9           0.0        0.896408     0.103592     6000.0   3.0   2835.857793
10          0.0        0.833322     0.166678     5500.0   3.0   2599.536310
14          1.0        0.894168     0.105832    22000.0   5.0   7311.032164
17          0.0        0.841248     0.158752    25000.0   5.0   8307.991095
19          0.0        0.824723     0.175277    13000.0   5.0   4320.155370

In [121]:
bad_rate2

,G1,G2,G3,G4,G5,G6,G7,G8,G9,G10
logis_bad_rate,0.082706,0.148010,1.000000,NaN,0.997717,0.998562,0.999562,1.000000,NaN,NaN
interest_rate,0.111966,0.197197,inf,NaN,445.760000,708.410000,2328.680000,inf,NaN,NaN

## Neural Network Model

In [122]:
from tensorflow import keras
from tensorflow.python.keras import backend as k
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [123]:
# first step: create a Sequential object, as a sequence of layers. B/C NN is a sequence of layers.
classifier = Sequential()
# add the first hidden layer
classifier.add(Dense(units=5,kernel_initializer='glorot_uniform',activation = 'relu'))
# add the second hidden layer
classifier.add(Dense(units=5,kernel_initializer='glorot_uniform',activation = 'relu'))
# add the output layer
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation = 'sigmoid'))
# compiling the NN
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['acc'])

In [124]:
# train the model
classifier.fit(xx_train,yy_train,batch_size=10,epochs=20)

Epoch 1/20
1808534/1808534 [==============================] - 151s 84us/step - loss: 0.4905 - acc: 0.8678
Epoch 2/20
1808534/1808534 [==============================] - 153s 84us/step - loss: 0.4891 - acc: 0.8678
Epoch 3/20
1808534/1808534 [==============================] - 153s 85us/step - loss: 0.4891 - acc: 0.8678
Epoch 4/20
1808534/1808534 [==============================] - 149s 83us/step - loss: 0.4891 - acc: 0.8678
Epoch 5/20
1808534/1808534 [==============================] - 152s 84us/step - loss: 0.4891 - acc: 0.8678
Epoch 6/20
1808534/1808534 [==============================] - 154s 85us/step - loss: 0.4891 - acc: 0.8678
Epoch 7/20
1808534/1808534 [==============================] - 155s 85us/step - loss: 0.4891 - acc: 0.8678
Epoch 8/20
1808534/1808534 [==============================] - 155s 86us/step - loss: 0.4891 - acc: 0.8678
Epoch 9/20
1808534/1808534 [==============================] - 155s 86us/step - loss: 0.4891 - acc: 0.8678
Epoch 10/20
1808534/1808534 [==============================] - 155s 86us/step - loss: 0.4891 - acc: 0.8678
Epoch 11/20
1808534/1808534 [==============================] - 155s 86us/step - loss: 0.4891 - acc: 0.8678
Epoch 12/20
1808534/1808534 [==============================] - 154s 85us/step - loss: 0.4891 - acc: 0.86781s - loss: 0.48 - ETA: 0s - loss: 0.4891 - ac
Epoch 13/20
1808534/1808534 [==============================] - 151s 84us/step - loss: 0.4891 - acc: 0.8678
Epoch 14/20
1808534/1808534 [==============================] - 142s 78us/step - loss: 0.4891 - acc: 0.8678
Epoch 15/20
1808534/1808534 [==============================] - 142s 78us/step - loss: 0.4891 - acc: 0.8678
Epoch 16/20
1808534/1808534 [==============================] - 142s 79us/step - loss: 0.4891 - acc: 0.8678
Epoch 17/20
1808534/1808534 [==============================] - 142s 78us/step - loss: 0.4891 - acc: 0.8678
Epoch 18/20
1808534/1808534 [==============================] - 148s 82us/step - loss: 0.4891 - acc: 0.8678
Epoch 19/20
1808534/1808534 [==============================] - 149s 82us/step - loss: 0.4891 - acc: 0.8678
Epoch 20/20
1808534/1808534 [==============================] - 150s 83us/step - loss: 0.4891 - acc: 0.8678

In [125]:
# Predicting the Test set results
y_pred = classifier.predict(xx_test)
y_pred = (y_pred>0.5)

In [126]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(yy_test, y_pred)
cm

array([[392290,      0],
       [ 59844,      0]], dtype=int64)

In [127]:
# k-fold clustering
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score

Using TensorFlow backend.

In [128]:
def build_classifier():
    # first step: create a Sequential object, as a sequence of layers. B/C NN is a sequence of layers.
    classifier = Sequential()
    # add the first hidden layer
    classifier.add(Dense(units=5,kernel_initializer='glorot_uniform',
                    activation = 'relu'))
    # add the second hidden layer
    classifier.add(Dense(units=5,kernel_initializer='glorot_uniform',
                    activation = 'relu'))
    # add the output layer
    classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',
                    activation = 'sigmoid'))
    # compiling the NN
    classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
    return classifier

In [129]:
classifier = KerasClassifier(build_fn=build_classifier, batch_size = 10, nb_epoch = 3)
accuracies = cross_val_score(estimator=classifier, X=xx_train, y = yy_train, cv=10, n_jobs=1)

Epoch 1/1
1627680/1627680 [==============================] - 131s 80us/step - loss: 13.8328 - acc: 0.1323
180854/180854 [==============================] - 5s 28us/step
Epoch 1/1
1627680/1627680 [==============================] - 136s 83us/step - loss: 13.8352 - acc: 0.1322
180854/180854 [==============================] - 5s 26us/step
Epoch 1/1
1627680/1627680 [==============================] - 138s 85us/step - loss: 13.9593 - acc: 0.1245
180854/180854 [==============================] - 5s 27us/step
Epoch 1/1
1627680/1627680 [==============================] - 135s 83us/step - loss: 2.0092 - acc: 0.8753
180854/180854 [==============================] - 5s 27us/step
Epoch 1/1
1627681/1627681 [==============================] - 136s 83us/step - loss: 5.2176 - acc: 0.6273
180853/180853 [==============================] - 5s 28us/step
Epoch 1/1
1627681/1627681 [==============================] - 138s 85us/step - loss: 6.0636 - acc: 0.6204
180853/180853 [==============================] - 5s 29us/step
Epoch 1/1
1627681/1627681 [==============================] - 142s 87us/step - loss: 13.8333 - acc: 0.1323
180853/180853 [==============================] - 5s 30us/step
Epoch 1/1
1627681/1627681 [==============================] - 140s 86us/step - loss: 8.9714 - acc: 0.3874
180853/180853 [==============================] - 5s 30us/step
Epoch 1/1
1627681/1627681 [==============================] - 143s 88us/step - loss: 1.8969 - acc: 0.8823
180853/180853 [==============================] - 6s 32us/step
Epoch 1/1
1627681/1627681 [==============================] - 146s 89us/step - loss: 2.1304 - acc: 0.8678
180853/180853 [==============================] - 6s 33us/step

In [130]:
accuracies.mean()

0.47811301723935695

In [131]:
accuracies.std()

0.3172995089821546

In [132]:
# Drop Out Regularization
# You can detect overfitting with the difference between test and train error or the high variance in cross-validation.

from tensorflow.keras.layers import Dropout

# first step: create a Sequential object, as a sequence of layers. B/C NN is a sequence of layers.
classifier = Sequential()
# add the first hidden layer
classifier.add(Dense(units=5,kernel_initializer='glorot_uniform',
                    activation = 'relu'))
classifier.add(Dropout(0.3))  #often start with 0.1, not solved go up

# add the second hidden layer
classifier.add(Dense(units=5,kernel_initializer='glorot_uniform',
                    activation = 'relu'))
classifier.add(Dropout(0.3))  #often start with 0.1, not solved go up

# add the output layer
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',
                    activation = 'sigmoid'))
# compiling the NN
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['acc'])

In [133]:
# fine tuning with Grid Search
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

def build_classifier(optimizer):
    # first step: create a Sequential object, as a sequence of layers. B/C NN is a sequence of layers.
    classifier = Sequential()
    # add the first hidden layer
    classifier.add(Dense(units=5,kernel_initializer='glorot_uniform',
                    activation = 'relu'))
    # add the second hidden layer
    classifier.add(Dense(units=5,kernel_initializer='glorot_uniform',
                    activation = 'relu'))
    # add the output layer
    classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',
                    activation = 'sigmoid'))
    # compiling the NN
    classifier.compile(optimizer=optimizer,loss='binary_crossentropy',metrics=['accuracy'])
    return classifier

In [134]:
classifier = KerasClassifier(build_fn=build_classifier)

# create a dictionary of hyper-parameters to optimize
parameters = {'batch_size':[25,32], 'nb_epoch':[1,2],'optimizer':['adam','rmsprop']}
grid_search = GridSearchCV(estimator = classifier, param_grid = parameters, scoring = 'accuracy', cv=10)
grid_search = grid_search.fit(xx_train,yy_train)

best_parameters = grid_search.best_params_ 
best_accuracy = grid_search.best_score_

Epoch 1/1
1627680/1627680 [==============================] - 52s 32us/step - loss: 13.8328 - acc: 0.1323
Epoch 1/1
1627680/1627680 [==============================] - 52s 32us/step - loss: 13.9573 - acc: 0.1246
Epoch 1/1
1627680/1627680 [==============================] - 53s 32us/step - loss: 5.2357 - acc: 0.6205
Epoch 1/1
1627680/1627680 [==============================] - 54s 33us/step - loss: 13.6997 - acc: 0.1407
Epoch 1/1
1627681/1627681 [==============================] - 54s 33us/step - loss: 13.8323 - acc: 0.1324
Epoch 1/1
1627681/1627681 [==============================] - 54s 33us/step - loss: 5.2198 - acc: 0.6274
Epoch 1/1
1627681/1627681 [==============================] - 55s 34us/step - loss: 2.1323 - acc: 0.8677
Epoch 1/1
1627681/1627681 [==============================] - 56s 35us/step - loss: 2.1298 - acc: 0.8679
Epoch 1/1
1627681/1627681 [==============================] - 54s 33us/step - loss: 13.8347 - acc: 0.1322
Epoch 1/1
1627681/1627681 [==============================] - 55s 34us/step - loss: 5.2336 - acc: 0.6206
Epoch 1/1
1627680/1627680 [==============================] - 50s 31us/step - loss: 13.8328 - acc: 0.1323
Epoch 1/1
1627680/1627680 [==============================] - 54s 33us/step - loss: 2.1304 - acc: 0.8678
Epoch 1/1
1627680/1627680 [==============================] - 55s 34us/step - loss: 13.8365 - acc: 0.1321
Epoch 1/1
1627680/1627680 [==============================] - 54s 33us/step - loss: 13.2962 - acc: 0.1661
Epoch 1/1
1627681/1627681 [==============================] - 53s 33us/step - loss: 13.8323 - acc: 0.1324
Epoch 1/1
1627681/1627681 [==============================] - 52s 32us/step - loss: 13.9428 - acc: 0.1255
Epoch 1/1
1627681/1627681 [==============================] - 54s 33us/step - loss: 13.9552 - acc: 0.1247
Epoch 1/1
1627681/1627681 [==============================] - 54s 33us/step - loss: 9.7770 - acc: 0.3874
Epoch 1/1
1627681/1627681 [==============================] - 53s 33us/step - loss: 10.0129 - acc: 0.3728
Epoch 1/1
1627681/1627681 [==============================] - 55s 34us/step - loss: 1.3040 - acc: 0.8678
Epoch 1/1
1627680/1627680 [==============================] - 59s 36us/step - loss: 13.8328 - acc: 0.1323
Epoch 1/1
1627680/1627680 [==============================] - 59s 36us/step - loss: 1.3244 - acc: 0.8678
Epoch 1/1
1627680/1627680 [==============================] - 61s 38us/step - loss: 13.8365 - acc: 0.1321
Epoch 1/1
1627680/1627680 [==============================] - 62s 38us/step - loss: 2.0197 - acc: 0.8747
Epoch 1/1
1627681/1627681 [==============================] - 61s 38us/step - loss: 5.9521 - acc: 0.6273
Epoch 1/1
1627681/1627681 [==============================] - 64s 39us/step - loss: 4.9000 - acc: 0.6475
Epoch 1/1
1627681/1627681 [==============================] - 63s 39us/step - loss: 2.1323 - acc: 0.8677
Epoch 1/1
1627681/1627681 [==============================] - 63s 39us/step - loss: 2.1298 - acc: 0.8679
Epoch 1/1
1627681/1627681 [==============================] - 63s 39us/step - loss: 2.0188 - acc: 0.8747
Epoch 1/1
1627681/1627681 [==============================] - 64s 40us/step - loss: 2.1304 - acc: 0.8678
Epoch 1/1
1627680/1627680 [==============================] - 60s 37us/step - loss: 13.8373 - acc: 0.1320
Epoch 1/1
1627680/1627680 [==============================] - 60s 37us/step - loss: 13.7250 - acc: 0.1391
Epoch 1/1
1627680/1627680 [==============================] - 61s 37us/step - loss: 2.1291 - acc: 0.8679
Epoch 1/1
1627680/1627680 [==============================] - 61s 37us/step - loss: 9.9045 - acc: 0.3795
Epoch 1/1
1627681/1627681 [==============================] - 61s 37us/step - loss: 13.8404 - acc: 0.1319
Epoch 1/1
1627681/1627681 [==============================] - 61s 37us/step - loss: 13.9532 - acc: 0.1249
Epoch 1/1
1627681/1627681 [==============================] - 62s 38us/step - loss: 13.8333 - acc: 0.1323
Epoch 1/1
1627681/1627681 [==============================] - 62s 38us/step - loss: 13.8358 - acc: 0.1321
Epoch 1/1
1627681/1627681 [==============================] - 62s 38us/step - loss: 13.8347 - acc: 0.1322
Epoch 1/1
1627681/1627681 [==============================] - 62s 38us/step - loss: 2.1304 - acc: 0.8678
Epoch 1/1
1627680/1627680 [==============================] - 54s 33us/step - loss: 2.1329 - acc: 0.8677
Epoch 1/1
1627680/1627680 [==============================] - 54s 33us/step - loss: 1.8962 - acc: 0.8824
Epoch 1/1
1627680/1627680 [==============================] - 54s 33us/step - loss: 13.8365 - acc: 0.1321
Epoch 1/1
1627680/1627680 [==============================] - 55s 34us/step - loss: 13.8345 - acc: 0.1322
Epoch 1/1
1627681/1627681 [==============================] - 58s 36us/step - loss: 13.7078 - acc: 0.1402
Epoch 1/1
1627681/1627681 [==============================] - 57s 35us/step - loss: 2.1356 - acc: 0.8675
Epoch 1/1
1627681/1627681 [==============================] - 57s 35us/step - loss: 5.9483 - acc: 0.6275
Epoch 1/1
1627681/1627681 [==============================] - 59s 36us/step - loss: 2.0081 - acc: 0.8754
Epoch 1/1
1627681/1627681 [==============================] - 58s 36us/step - loss: 5.9527 - acc: 0.6272
Epoch 1/1
1627681/1627681 [==============================] - 59s 36us/step - loss: 5.9471 - acc: 0.6276
Epoch 1/1
1627680/1627680 [==============================] - 55s 34us/step - loss: 2.0200 - acc: 0.8747
Epoch 1/1
1627680/1627680 [==============================] - 56s 34us/step - loss: 2.0179 - acc: 0.8748
Epoch 1/1
1627680/1627680 [==============================] - 56s 35us/step - loss: 2.1291 - acc: 0.8679
Epoch 1/1
1627680/1627680 [==============================] - 57s 35us/step - loss: 13.8345 - acc: 0.1322
Epoch 1/1
1627681/1627681 [==============================] - 57s 35us/step - loss: 13.8323 - acc: 0.1324
Epoch 1/1
1627681/1627681 [==============================] - 57s 35us/step - loss: 0.3662 - acc: 0.8821
Epoch 1/1
1627681/1627681 [==============================] - 57s 35us/step - loss: 13.8611 - acc: 0.1306
Epoch 1/1
1627681/1627681 [==============================] - 59s 36us/step - loss: 2.1298 - acc: 0.8679
Epoch 1/1
1627681/1627681 [==============================] - 58s 36us/step - loss: 2.1310 - acc: 0.8678
Epoch 1/1
1627681/1627681 [==============================] - 59s 36us/step - loss: 2.0180 - acc: 0.8748
Epoch 1/1
1627680/1627680 [==============================] - 63s 38us/step - loss: 13.8328 - acc: 0.1323
Epoch 1/1
1627680/1627680 [==============================] - 63s 39us/step - loss: 9.9041 - acc: 0.3795
Epoch 1/1
1627680/1627680 [==============================] - 64s 39us/step - loss: 13.8366 - acc: 0.1321
Epoch 1/1
1627680/1627680 [==============================] - 64s 40us/step - loss: 13.8456 - acc: 0.1315
Epoch 1/1
1627681/1627681 [==============================] - 66s 41us/step - loss: 13.8323 - acc: 0.1324
Epoch 1/1
1627681/1627681 [==============================] - 66s 40us/step - loss: 2.0231 - acc: 0.8745
Epoch 1/1
1627681/1627681 [==============================] - 71s 44us/step - loss: 2.0104 - acc: 0.8753
Epoch 1/1
1627681/1627681 [==============================] - 67s 41us/step - loss: 3.9154 - acc: 0.7556
Epoch 1/1
1627681/1627681 [==============================] - 67s 41us/step - loss: 2.1310 - acc: 0.8678
Epoch 1/1
1627681/1627681 [==============================] - 71s 44us/step - loss: 2.1304 - acc: 0.8678
Epoch 1/1
1627680/1627680 [==============================] - 68s 42us/step - loss: 6.0635 - acc: 0.6204
Epoch 1/1
1627680/1627680 [==============================] - 68s 42us/step - loss: 13.8352 - acc: 0.1322
Epoch 1/1
1627680/1627680 [==============================] - 68s 42us/step - loss: 9.7808 - acc: 0.3872
Epoch 1/1
1627680/1627680 [==============================] - 70s 43us/step - loss: 13.8344 - acc: 0.1322
Epoch 1/1
1627681/1627681 [==============================] - 70s 43us/step - loss: 2.2988 - acc: 0.8399
Epoch 1/1
1627681/1627681 [==============================] - 70s 43us/step - loss: 13.8300 - acc: 0.1325
Epoch 1/1
1627681/1627681 [==============================] - 70s 43us/step - loss: 13.3048 - acc: 0.1626
Epoch 1/1
1627681/1627681 [==============================] - 72s 44us/step - loss: 13.8358 - acc: 0.1321
Epoch 1/1

1627681/1627681 [==============================] - 72s 44us/step - loss: 14.0687 - acc: 0.1177
Epoch 1/1
1627681/1627681 [==============================] - 74s 45us/step - loss: 13.8355 - acc: 0.1322
Epoch 1/1
1808534/1808534 [==============================] - 131s 72us/step - loss: 2.1316 - acc: 0.8678

In [142]:
best_parameters

{'batch_size': 25, 'nb_epoch': 2, 'optimizer': 'adam'}

In [143]:
best_accuracy

0.673889459639686

In [139]:
# first step: create a Sequential object, as a sequence of layers. B/C NN is a sequence of layers.
best_model = Sequential()
# add the first hidden layer
best_model.add(Dense(units=5,kernel_initializer='glorot_uniform',
                    activation = 'relu'))
# add the second hidden layer
best_model.add(Dense(units=5,kernel_initializer='glorot_uniform',
                    activation = 'relu'))
# add the output layer
best_model.add(Dense(units=1,kernel_initializer='glorot_uniform',
                    activation = 'sigmoid'))
# compiling the NN
best_model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [140]:
best_model.fit(xx_train,yy_train,batch_size=25,epochs=2)

Epoch 1/2
1808534/1808534 [==============================] - 124s 69us/step - loss: 5.8342 - acc: 0.6348
Epoch 2/2
1808534/1808534 [==============================] - 121s 67us/step - loss: 6.0726 - acc: 0.6198

In [146]:
result3 = pd.DataFrame()
result3['loan_status']= yy_test
result3['Delinquency'] = best_model.predict(xx_test)
result3['loan_amnt'] = adj_data['loan_amnt'] 
result3['term'] = adj_data['term']
result3.head(10)

   loan_status  Delinquency  loan_amnt  term
0            0          1.0       2500     3
1            0          0.0      30000     5
2            0          0.0       5000     3
3            0          0.0       4000     3
4            0          0.0      30000     5
5            0          0.0       5550     3
6            0          1.0       2000     3
7            0          0.0       6000     3
8            0          1.0       5000     3
9            0          0.0       6000     3

In [149]:
g_1 = result3.loc[result3.Delinquency < 0.1, :]
g_2 = result3.loc[(result3.Delinquency> 0.1) & (result3.Delinquency< 0.2), :]
g_3 = result3.loc[(result3.Delinquency> 0.2) & (result3.Delinquency< 0.3), :]
g_4 = result3.loc[(result3.Delinquency> 0.3) & (result3.Delinquency< 0.4), :]
g_5 = result3.loc[(result3.Delinquency> 0.4) & (result3.Delinquency< 0.5), :]
g_6 = result3.loc[(result3.Delinquency> 0.5) & (result3.Delinquency< 0.6), :]
g_7 = result3.loc[(result3.Delinquency> 0.6) & (result3.Delinquency< 0.7), :]
g_8 = result3.loc[(result3.Delinquency> 0.7) & (result3.Delinquency< 0.8), :]
g_9 = result3.loc[(result3.Delinquency> 0.8) & (result3.Delinquency< 0.9), :]
g_10 = result3.loc[result3.Delinquency > 0.9, :]

In [151]:
br_1 = (g_1.loan_status == 1).sum()/len(g_1)
br_2 = (g_2.loan_status == 1).sum()/len(g_2)
br_3 = (g_3.loan_status == 1).sum()/len(g_3)
br_4 = (g_4.loan_status == 1).sum()/len(g_4)
br_5 = (g_5.loan_status == 1).sum()/len(g_5)
br_6 = (g_6.loan_status == 1).sum()/len(g_6)
br_7 = (g_7.loan_status == 1).sum()/len(g_7)
br_8 = (g_8.loan_status == 1).sum()/len(g_8)
br_9 = (g_9.loan_status == 1).sum()/len(g_9)
br_10 = (g_10.loan_status == 1).sum()/len(g_10)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in longlong_scalars

D:\anaconda\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in longlong_scalars
  This is separate from the ipykernel package so we can avoid doing imports until
D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  after removing the cwd from sys.path.
D:\anaconda\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in longlong_scalars
  """
D:\anaconda\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in longlong_scalars

D:\anaconda\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in longlong_scalars
  import sys
D:\anaconda\lib\site-packages\ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in longlong_scalars

D:\anaconda\lib\site-packages\ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in longlong_scalars
  if __name__ == '__main__':

In [152]:
bad_rate3 = pd.DataFrame({"G1":[br_1], 
                         "G2":[br_2],
                         "G3":[br_3],
                         "G4":[br_4], 
                         "G5":[br_5],
                         "G6":[br_6],
                         "G7":[br_7], 
                         "G8":[br_8],
                         "G9":[br_9],
                         "G10":[br_10]})
bad_rate3

         G1  G2  G3  G4  G5  G6  G7  G8  G9       G10
0  0.104999 NaN NaN NaN NaN NaN NaN NaN NaN  0.176565

In [153]:
for i in bad_rate3.columns:
    rf = 0.02
    E_payoff = 1+rf
    r = (E_payoff/(1-bad_rate3.loc[0,i]))-1
    bad_rate3.loc[1,i] = r

In [154]:
bad_rate3.rename(index={0: "bad_rate", 1: "interest_rate"})

                     G1  G2  G3  G4  G5  G6  G7  G8  G9       G10
bad_rate       0.104999 NaN NaN NaN NaN NaN NaN NaN NaN  0.176565
interest_rate  0.139663 NaN NaN NaN NaN NaN NaN NaN NaN  0.238714